<div>
  <div *ngFor="let ad of notNullAddresses">
    <table>
      <tr>
        <td>
          <label for="type">Type:</label>
          <input type="text" [(ngModel)]="ad.type" placeholder="type">
        </td>
      </tr>
      <tr>
        <td>
          <label for="streetAddress">Street Address:</label>
          <input type="text" [(ngModel)]="ad.streetAddress" placeholder="streetAddress">
        </td>
      </tr>
      <tr>
        <td>
          <label for="locality">Locality:</label>
          <input type="text" [(ngModel)]="ad.locality" placeholder="locality">
        </td>
      </tr>
      <tr>
        <td>
          <label for="region">Region:</label>
          <input type="text" [(ngModel)]="ad.region" placeholder="region">
        </td>
      </tr>
      <tr>
        <td>
          <label for="postalCode">PostalCode:</label>
          <input type="text" [(ngModel)]="ad.postalCode" placeholder="postalCode">
        </td>
      </tr>
      <tr>
        <td>
          <label for="country">Country:</label>
          <input type="text" [(ngModel)]="ad.country" placeholder="country">
        </td>
      </tr>
      <tr>
        <td>
          <label for="formatted">Formatted:</label>
          <input type="text" [(ngModel)]="ad.formatted" placeholder="formatted">
        </td>
      </tr>
    </table>
  </div>
  <div><button (click)="add()">+</button><button *ngIf="enableDelete()" (click)="delete()">-</button></div>
</div>
