<div *ngIf="user">
  <section>
    <div class="left-nav">
      <table>
        <tr>
          <td (click)="save()">Save Changes</td>
        </tr>
        <tr *ngIf="!isNew">
          <td (click)="changePassword()">Change Password</td>
        </tr>
        <tr *ngIf="isActive">
          <td (click)="deactivateUser()">Deactivate User</td>
        </tr>
        <tr *ngIf="!isActive">
          <td (click)="activateUser()">Activate User</td>
        </tr>
        <tr *ngIf="!isNew">
          <td (click)="deleteUser()">Delete User</td>
        </tr>
      </table>
    </div>
  </section>

<div style="margin-left: 10%;">
<label for="schemas">Schemas:</label>
<span placeholder="schemas">{{user.schemas}}</span><br/>

<label for="id">Id:</label>
<span placeholder="id">{{user.id}}</span><br/>

<label for="userName">Username:</label>
<input [(ngModel)]="user.userName" placeholder="userName"><br/>

<section *ngIf="isNew">
  <label for="password">Password:</label>
  <input type="password" [(ngModel)]="user.password" placeholder="password"><br/>
</section>

<label for="displayName">Display Name:</label>
<input [(ngModel)]="user.displayName" placeholder="displayName"><br/>

<label for="nickName">Nickname:</label>
<input [(ngModel)]="user.nickName" placeholder="nickName"><br/>

<label for="profileUrl">Profile URL:</label>
<input [(ngModel)]="user.profileUrl" placeholder="profileUrl"><br/>

<label for="title">Title:</label>
<input [(ngModel)]="user.title" placeholder="title"><br/>

<label for="userType">User Type:</label>
<input [(ngModel)]="user.userType" placeholder="userType"><br/>

<label for="preferredLanguage">Preferred Language:</label>
<input [(ngModel)]="user.preferredLanguage" placeholder="preferredLanguage"><br/>

<label for="locale">Locale:</label>
<input [(ngModel)]="user.locale" placeholder="locale"><br/>

<label for="timezone">Timezone:</label>
<input [(ngModel)]="user.timezone" placeholder="timezone"><br/>

<div ng-class="container">
  <section aria-label="Name">
    <label for="familyName">Family Name:</label>
    <input [(ngModel)]="user.name.familyName" placeholder="familyName"><br/>

    <label for="givenName">Given Name:</label>
    <input [(ngModel)]="user.name.givenName" placeholder="givenName"><br/>

    <label for="middleName">Middle Name:</label>
    <input [(ngModel)]="user.name.middleName" placeholder="middleName"><br/>

    <label for="honorificPrefix">Honorific Prefix:</label>
    <input [(ngModel)]="user.name.honorificPrefix" placeholder="honorificPrefix"><br/>

    <label for="honorificSuffix">Honorific Suffix:</label>
    <input [(ngModel)]="user.name.honorificSuffix" placeholder="honorificSuffix"><br/>

    <label for="formatted">Formatted:</label>
    <input [(ngModel)]="user.name.formatted" placeholder="formatted"><br/>
  </section>
    <label for="emails">Emails:</label>
    <value-type [vts]="user.emails"></value-type><br/>

    <label for="phoneNumbers">Phone Numbers:</label>
    <value-type [vts]="user.phoneNumbers"></value-type><br/>

    <label for="ims">Instant Messengers:</label>
    <value-type [vts]="user.ims"></value-type><br/>

    <label for="photos">Photos:</label>
    <value-type [vts]="user.photos"></value-type><br/>

    <label for="entitlements">Entitlements:</label>
    <value-type [vts]="user.entitlements"></value-type><br/>

    <label for="roles">Roles:</label>
    <value-type [vts]="user.roles"></value-type><br/>

    <label for="x509Certificates">X509 Certificates:</label>
    <value-type [vts]="user.x509Certificates"></value-type><br/>

    <label for="addresses">Addresses:</label>
    <user-address [addresses]="user.addresses"></user-address>
 </div>
</div>
<!--<span>{{diagnose | json}}</span><br/>
<hr/>
<span>{{patchOps() | json}}</span><br/>-->
</div>
